body{
	margin: 0;
	height: 100%;
}

#registo{
	position: relative;
	margin: 80px 5px 5px;
	border: solid lightgrey 1px;
	max-width: 300px;
	padding: 5px;
}

#criar {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

#button{
	text-align: center;
}

#criar{
	width: auto;
}